snippet req
	var ${1} = require('${2}');
snippet log
	console.log('${1}');
snippet log,
	console.log('${1}', ${2});
snippet vfunc
	var ${1} = function () {
		${2}
	};
snippet vfunc()
	var ${1} = function (${2}) {
		${3}
	};
snippet func
	function ${1}() {
		${2}
	}
snippet func()
	function ${1}(${2}) {
		${3}
	}
snippet mex
	module.exports = ${1};
snippet mex{}
	module.exports = {
		${1}
	};
