snippet acol
	add_column ${1:table}, ${2:field}, ${3:type}
snippet rcol
	remove_column ${1:table}, ${2:field}
snippet ccol
	change_column ${1:table}, ${2:field}, ${3:type}
snippet aindex
	add_index ${1:table}, ${2:field}
snippet rindex
	remove_index ${1:table}, ${2:field}
snippet logw
	Rails.logger.warn "${1}"
snippet logi
	Rails.logger.info "${1}"
